<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link type="text/css" href="/content/css/theme/galaxy/site-galaxy.css" rel="stylesheet" />
    <link type="text/css" href="/content/css/theme/galaxy/metro-galaxy.all.css" rel="stylesheet" />
    <link type="text/css" href="/content/css/theme/viewpage/viewpage.all.css" rel="stylesheet" />
    <link type="text/css" href="/content/css/theme/galaxy/ui.metro.Galaxy.css" rel="stylesheet" />

    <link type="text/css" href="/content/icon/font-awesome/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="/content/css/loading-circle.css" rel="stylesheet" />
</head>
<body>
    <b class="bg-color-layer"></b>
    <header id="head">
        <div class="top-bar clear">
            <span id="timeTool" class="screen-subtitle font-highlight" style="float:right;"></span>
        </div>
        <div id="leftToolbar" class="toolbar clear"></div>
        <h1 class="screen-header">
            <b class="screen-background"></b>
            <span class="screen-title font-highlight"></span>
        </h1>
        <div id="rightToolbar" class="toolbar clear"></div>
        <div id="loadingElement" class="c_flyingDots c_loadingDots" style="top:0;left:0;position:absolute;display:none;width:100%;">
            <div class="c_loadingTracks">
                <div class="c_loadingTracks c_loadingTrack1">
                    <div class="c_loadingDot"></div>
                </div>
                <div class="c_loadingTracks c_loadingTrack2">
                    <div class="c_loadingDot"></div>
                </div>
                <div class="c_loadingTracks c_loadingTrack3">
                    <div class="c_loadingDot"></div>
                </div>
                <div class="c_loadingTracks c_loadingTrack4">
                    <div class="c_loadingDot"></div>
                </div>
                <div class="c_loadingTracks c_loadingTrack5">
                    <div class="c_loadingDot"></div>
                </div>
            </div>
        </div>
    </header>

    <section id="body" style="visibility:hidden"></section>

    <div class="page-progress large circles" style="display:block;">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
    </div>

    <script type="module" src="./screen.js"></script>
</body>
</html>